@page "/Account/Manage/Reviews"

@using GameCatcher.Services
@using IGDB
@using GameCatcher.Data
@using GameCatcher.Models

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject GameCatcher.DatabaseService.IReviewService ReviewDbService

<h3>Your Reviews</h3>

@if (userReviews.Count == 0)
{
    <p>You have not submitted any reviews yet.</p>
}
else
{
    @foreach (var review in userReviews)
    {
        <div class="card mt-3">
            <div class="row g-0">
                @* double foreach loop and if check to ensure right name and artwork are displayed based on gameId (a bit wacky but it works, can find better way later)*@
                <div class="col-md-4" style="max-width: 250px">
                    @foreach (var gameIdGameArtwork in GameIdGameArtwork)
                    {
                        @if (review.GameId == gameIdGameArtwork.Key)
                        {
                            <img src="@gameIdGameArtwork.Value" class="img-fluid rounded-start" alt="@gameIdGameArtwork.Value">
                        }
                    }
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        @foreach (var gameIdGameName in GameIdGameName)
                        {
                            @if (review.GameId == gameIdGameName.Key)
                            {
                                <a href="/game/info/@review.GameId">
                                    <h5 class="card-title">@gameIdGameName.Value</h5>
                                </a>
                            }
                        }
                        <small class="text-body-secondary">Review On:
                            @review.CreatedAt.ToString(format: "MMMM dd, yyyy")</small>
                        <p class="card-text">Rating: @review.Rating</p>
                        <p class=" card-text">@review.Comment</p>
                    </div>
                </div>
            </div>
        </div>
    }
}

@code {
    private List<Review> userReviews = new();

    private IGDBService _igdbService = new();

    private Game? Game { get; set; }

    private Dictionary<long, string> GameIdGameName = new Dictionary<long, string>();
    private Dictionary<long, string> GameIdGameArtwork = new Dictionary<long, string>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userPrincipal = authState.User;
        var userId = userPrincipal.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        if (userId != null)
        {
            userReviews = await ReviewDbService.GetReviewsByUserId(userId);
        }

        await FetchGameName();
    }

    private async Task FetchGameName()
    {
        foreach (var review in userReviews)
        {
            IGDB.Models.Game? game = await _igdbService.GetGameBySingleIdAsync(review.GameId);
            IGDB.Models.Artwork? artwork = game?.Artworks?.Values?.FirstOrDefault();

            Game = new Game
            {
                Name = game?.Name,
                ArtworkImageId = IGDB.ImageHelper.GetImageUrl(imageId: artwork?.ImageId, size: IGDB.ImageSize.ScreenshotMed)
            };

            GameIdGameName.Add(review.GameId, Game!.Name!);
            GameIdGameArtwork.Add(review.GameId, Game!.ArtworkImageId);
        }
    }
}